[Unit]
Description=Mount Instance Storage to /mnt/yocto
Requires=format-instance-storage.service
After=format-instance-storage.service

[Mount]
What=/dev/nvme0n1
Where=/mnt/yocto
Type=ext4

[Install]
WantedBy=multi-user.target